.main{
    background: linear-gradient(#e8ebff, #e8ebff), #e8ebff;
    width: auto;
    align-items: center;
    height: 1000px;
}
.xalendar{
    align-items: center;
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 190px;
}
.mainLine{
    margin: auto;
    font-family: fantasy;
    font-weight:bolder;
    font-size: 80px;
    font-style: italic;
    margin-left: 100px;
}