/* .body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: #c5c8c6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.console-container {
  background-color: #282a2e;
  width: 90%;
  max-width: 80%;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.console-output {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #1d1f21;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  margin-bottom: 15px;
}

.console-line {
  padding: 5px 0;
  color: #b5bd68;
}

.console-input {
  width: 100%;
  background-color: #282a2e;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  color: #c5c8c6;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.console-input::placeholder {
  color: #969896;
} */

.body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* background-color: #1d1f21; */
  color: #c5c8c6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: 100%; */
}

.console-container {
  background-color: #282a2e;
  width: 90%;
  max-width: 80%;
  height: 80%;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.console-output {
  width: 100%;
  height: 250px;
  padding: 10px;
  background-color: #1d1f21;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  color: #ffffff; /* Set text color to white */
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-bottom: 15px;
  resize: none;
  overflow-y: auto;
}

.console-input {
  width: 100%;
  background-color: #282a2e;
  border: 1px solid #c5c8c6;
  border-radius: 8px;
  color: #c5c8c6;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.console-input::placeholder {
  color: #969896;
}
